apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: development

resources:
  - ../../base
  - namespace.yaml
  - dragonfly.yaml

patches:
  - path: patch-deployment.yaml
    target:
      kind: Deployment
      name: course-app-deployment
  - path: patch-ingress.yaml
    target:
      kind: Ingress
      name: course-app-ingress
